*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    text-decoration: none;
    list-style: none;
    /* color: white; */
    scroll-behavior: smooth;
}

/* enquiry */
.form{
    background-image: url("./enquire-back.webp");
    height: 729px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
}

.enquire-heading h1{
    color: red;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 50px;
}

form{
    /* margin-right: 50px; */
    margin-top: 120px;
    /* background-color: pink; */
    background-color: transparent;
    font-size: 30px;
}

input{
    margin: 10px;
    font-size: 15px;
    border-radius: 50px;
    height: 30px;
    width: 200px;
}

select{
    font-size: 15px;
    border-radius: 50px;
    height: 30px;
    width: 200px;
    margin-left: 10px;
}

option{
    font-size: 15px;
}

/* button{
    background-color: #222222;
    color: white;
    font-size: 15px;
    margin-left: 340px;
    height: 30px;
    width: 120px;
    border-radius: 30px;
} */

.submit-enq{
    background-color: #222222;
    color: white;
    font-size: 15px;
    margin-right: 340px;
    height: 30px;
    width: 120px;
    border-radius: 30px;
}

button:hover{
    background-color: transparent;
    color: black;
}